@using MotoComparisonWeb.Models
@model List<MotorcycleSpec>

@{
    ViewData["Title"] = "Motorcycle Comparison";
}

<h1 class="text-center">Motorcycle Comparison</h1>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Specification</th>
                <th>Model 1</th>
                <th>Model 2</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var spec in Model)
            {
                <tr>
                    <td>@spec.Specification</td>
                    <td>@spec.ComparisonModelOne</td>
                    <td>@spec.ComparisonModelTwo</td>
                </tr>
            }
        </tbody>
    </table>
</div>
